<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>菜单</title>
    {load href="/static/css/order.css" /}

</head>

<body>
<div class="main">
    <div class="left-menu">
        <ul>
            {volist name="list" id="vo"}
            {eq name="i" value="1"}
            <li class="active">{$key}</li>
            {else/}
            <li>{$key}</li>
            {/eq}
            {/volist}
        </ul>
    </div>
    <div class="con">
        {volist name="list" id="vo"}
        <div class="right-con {eq name='i' value='1'}con-active{/eq}">
            <ul>
                {volist name="vo" id="v"}
                <li>
                    <div class="menu-img"><img src="/static/images/pic.png" width="55" height="55"/></div>
                    <div class="menu-txt">
                        <h3>{$v.product_name}</h3>
                        <span>供应人:{$v.provider}</span>
                        <div class="btn">
                            <button data-id="{$v.id}" class="minus" type="button">
                                <strong></strong>
                            </button>
                            <i class="size">0</i>
                            <button class="add" type="button">
                                <strong></strong>
                            </button>
                            <input class="num" type="hidden" name="order_number[]" value="">
                            <input class="id" type="hidden" name="id[]" value="">
                            <input class="product" type="hidden" name="product_id[]" value="{$v.id}">
                            <input type="hidden" name="user_id[]" value="{$Request.param.user_id}">
                            <i class="price">25</i>
                        </div>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        {/volist}
    </div>
    <div class="footer">
        <div class="left">查看菜单
        </div>
        <div class="right">
            <a id="btnselect" class="xhlbtn" href="javascript:void(0)">提交菜单</a>
        </div>
    </div>
</div>

{load href="/static/js/jquery.min.js" /}
<script type="text/javascript">
    $(function () {
        resizeH();
        $(window).resize(function () {
            resizeH();
        });


        //加的效果
        $(".add").click(function () {
            $(this).prevAll().css("display", "inline-block");
            var n = $(this).prev().text();
            var num = parseInt(n) + 1;
            if (num == 0) {
                return;
            }
            $(this).prev().text(num);
            $(this).closest('.btn').find('.num').val(num);
        });
        //减的效果
        $(".minus").click(function () {
            var n = $(this).next().text();
            var num = parseInt(n) - 1;
            $(this).next().text(num);//减1
            $(this).closest('.btn').find('.num').val(num);
            //如果数量小于或等于0则隐藏减号和数量
            if (num <= 0) {
                dropOrder(this.dataset.id);
                $(this).next().css("display", "none");
                $(this).css("display", "none");
                return false;
            }
        });

        function resizeH() {
            var height = window.innerHeight - 45;
            $('.right-con').height(height);
            $('.left-menu').height(height);
        }

        //选项卡
        $(".con>div").hide();
        $(".con>div:eq(0)").show();

        $(".left-menu li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            var n = $(".left-menu li").index(this);
            $(".left-menu li").index(this);
            $(".con>div").hide();
            $(".con>div:eq(" + n + ")").show();
        });

        function getOrder() {
            $('.con').on('click', function () {

            })
        }
    });

    //模拟form提交
    //<form action="orderForm" method="post" id="form">
    $('#btnselect').on('click', function () {

        var body = $(document.body),
            form = $("<form method='post'></form>"),
            input, url = 'orderForm';
        form.attr({"action": url});
        $('.menu-txt').each(function (index, val) {
            var num = $(val).find('.num').val();
            if (num && num > 0) {
                $(val).find('input').each(function (key, value) {
                    input = $("<input type='hidden'>");
                    input.attr({"name": $(value).attr('name')});
                    input.val($(value).val());
                    form.append(input);
                })
            }
        });
        form.appendTo(document.body);

        form.submit();
        document.body.removeChild(form[0]);
    });

    restoreOrder();

    //还原订单
    function restoreOrder() {
        var url = "{:url('orderAjax')}";
        $.ajax({
            url: url,
            dataType: 'json',
            data: {
                user_id: '{$Request.param.user_id}'
            }
        })
            .done(function (data) {
                $.each(data, function (index, val) {
                    var product = $('.product[value=' + val.product_id + ']');
                    var parents = product.closest('.btn');
                    parents.find('.size').css('display', 'inline-block').text(val.order_number);
                    parents.find('.num').val(val.order_number);
                    parents.find('.id').val(val.id);
                    parents.find('.minus').css('display', 'inline-block');
                });
            })
            .fail(function () {
                alert('错误,联系管理员');
            });
    }

    function dropOrder(product_id) {
        var url = "{:url('orderDrop')}";
        $.ajax({
            url: url,
            dataType: 'json',
            data: {
                product_id: product_id,
                user_id: '{$Request.param.user_id}'
            }
        })
            .done(function (data) {

            })
            .fail(function () {
                alert('错误,联系管理员');
            });
    }
</script>
</body>
</html>
