<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>订单详情</title>
    {load href="/static/css/bootstrap.min.css" /}
    {load href="/static/js/jquery.min.js" /}
    {load href="/static/js/bootstrap.min.js" /}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">订单详情</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">订单管理</a></li>
                <li><a href="#">菜品管理</a></li>
                <li><a href="#">供应人管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form id="form" class="form-inline" style="margin-bottom: 10px;">
        <input type="hidden" name="orderId" value="{$Request.param.orderId}"/>
        <div class="form-group">
            <label>选择店</label>
            <select class="form-control" name="userId" title="选择店" id="userId">
                <option value="">--选择店--</option>
                {volist name="admin" id="vo"}
                {if condition="$vo['id'] eq $Request.param.userId"}
                <option value="{$vo.id}" selected>{$vo.username}</option>
                {else /}
                <option value="{$vo.id}">{$vo.username}</option>
                {/if}
                {/volist}
            </select>
        </div>
        <div class="form-group">
            <label>选择供货人</label>
            <select class="form-control" name="provider" title="选择供货人" id="provider">
                <option value="">--选择供货人--</option>
                {volist name="provider" id="vo"}
                {if condition="$vo['id'] eq $Request.param.provider"}
                <option value="{$vo.id}" selected>{$vo.provider}</option>
                {else /}
                <option value="{$vo.id}">{$vo.provider}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </form>
    <table class="table table-responsive table-bordered table-condensed table-striped">
        <tr>
            <th>菜名</th>
            <th>数量</th>
        </tr>
        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.product_name}</td>
            <td>{$vo.order_number}</td>
        </tr>
        {/volist}
    </table>
    <div id="page">
        {$list->render()}
    </div>
</div>
<script>
    $('#userId').on('change', function () {
        $('#provider').val('');
        $('#form').submit();
    });
    $('#provider').on('change', function () {
        $('#userId').val('');
        $('#form').submit();
    });
</script>
</body>
</html>