<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>菜品管理</title>
    {load href="/static/css/bootstrap.min.css" /}
    {load href="/static/js/jquery.min.js" /}
    {load href="/static/js/bootstrap.min.js" /}
</head>
<body>
<div class="container">
    <div class="form-group">
        <label for="type">种类</label>
        <select class="form-control" name="type" title="种类" id="type">
            <option value="">--种类--</option>
            {volist name="type" id="vo"}
            {if condition="$vo['id'] eq $Request.param.type"}
            <option value="{$vo.id}" selected>{$vo.type_name}</option>
            {else /}
            <option value="{$vo.id}">{$vo.type_name}</option>
            {/if}
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="type">选择供货人</label>
        <select class="form-control" name="provider" title="选择供货人" id="provider">
            <option value="">--供货人--</option>
            {volist name="provider" id="vo"}
            {if condition="$vo['id'] eq $Request.param.provider"}
            <option value="{$vo.id}" selected>{$vo.provider}</option>
            {else /}
            <option value="{$vo.id}">{$vo.provider}</option>
            {/if}
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="name">菜名</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="">
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">提交</button>
</div>
</body>
</html>