<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>供应人管理</title>
    {load href="/static/css/bootstrap.min.css" /}
    {load href="/static/js/jquery.min.js" /}
    {load href="/static/js/layer/mobile/layer.js" /}
    {load href="/static/js/bootstrap.min.js" /}
    {load href="/static/js/common.js" /}
    <style>
        .layui-m-layer * {
            box-sizing: border-box;
        }

        .padding {
            padding: 15px;
            width: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">供应人管理</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">订单管理</a></li>
                <li><a href="/index/product">菜品管理</a></li>
                <li class="active"><a href="/index/provider.html">供应人管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <p>
        <a href="" class="btn btn-primary add layer">添加</a>
    </p>
    <table class="table table-responsive table-bordered table-condensed table-striped">
        <tr>
            <th>供应人</th>
            <th>操作</th>
        </tr>
        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.provider}</td>
            <td>
                <a href="productEdit?id={$vo.id}" class="layer edit" data-id="{$vo.id}" data-provider="{$vo.provider}">修改</a>
                <a href="productEdit?id={$vo.id}" class="del" data-id="{$vo.id}">删除</a>
            </td>
        </tr>
        {/volist}
    </table>
    {$list->render()}
    <div id="exit" style="display: none;">
        <div class="container padding">
            <form action="" class="form1">
                <input type="hidden" name="id">
                <div class="controls">
                    <div class="form-group">
                        <label for="name1">供应人</label>
                        <input type="text" name="provider" class="form-control name1" id="name1" placeholder="">
                    </div>
                    <button type="button" id="submit" class="btn btn-primary btn-lg btn-block">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#type').on('change', function () {
        $('#provider').val('');
        $('#form').submit();
    });
    $('#provider').on('change', function () {
        $('#type').val('');
        $('#form').submit();
    });

    var subType = '';
    var id = '';
    $('.layer').on('click', function (e) {
        e.preventDefault();
        $("#exit").find("option").removeAttr('selected');
        openBox();
        if ($(this).hasClass('edit')) {
            subType = 'edit';
            id = this.dataset.id;
            $('.name1').val(this.dataset.provider);
        } else {
            id = '';
        }
    });
    $(document).on('click', '#submit', function (e) {
        var data = $(document).find('.layui-m-layercont .form1').serializeObject();
        if (subType == 'edit') {
            data['id'] = id;
        }
        console.log(data);
        ajaxSubmit(data);
    });

    $('.del').on('click', function (e) {
        e.preventDefault();
        var id = this.dataset.id;
        if (id) {
            //询问框
            layer.open({
                content: '确定删除？'
                , btn: ['删除', '不要']
                , yes: function (index) {
                    ajaxDel(id);
                }
            });
        }
    });

    function openBox() {
        layer.open({
            type: 1
            , content: $('#exit').html()
            , anim: 'up'
            , style: 'width:90%;'
        });
    }
    function ajaxSubmit(data) {
        $.ajax({
                    url: 'providerEdit',
                    dataType: 'json',
                    type: 'post',
                    data: {data: data}
                })
                .done(function (data) {
                    if (data.status == 1 || data.status == 3) {
                        layer.closeAll();
                        layer.open({
                            content: '操作成功'
                            , skin: 'msg'
                            , time: 1
                        });
                        refresh();
                    } else {
                        layer.closeAll();
                        layer.open({
                            content: '操作失败'
                            , skin: 'msg'
                            , time: 1
                        });
                    }
                })
                .fail(function () {
                    console.log("error");
                });

    }
    function ajaxDel(data) {
        $.ajax({
                    url: 'providerDel',
                    dataType: 'json',
                    type: 'post',
                    data: {data: data}
                })
                .done(function (data) {
                    if (data.status == 1) {
                        layer.closeAll();
                        layer.open({
                            content: '操作成功'
                            , skin: 'msg'
                            , time: 1
                        });
                        refresh();
                    } else {
                        layer.closeAll();
                        layer.open({
                            content: '操作失败'
                            , skin: 'msg'
                            , time: 1
                        });
                    }
                })
                .fail(function () {
                    console.log("error");
                });
    }
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</body>
</html>